# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# TypeScript
dist/
*.tsbuildinfo

# Prisma
/prisma/migrations/
prisma/.env

# Mac OS
.DS_Store

# IDEs
.vscode/
.idea/

# Frontend build
/frontend/dist/
frontend/.vite/

# Next.js / Vite / Build
.next/
out/
build/
