# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# TypeScript
dist/
*.tsbuildinfo

# Prisma
/prisma/migrations/

# Mac OS
.DS_Store

# IDEs
.vscode/
.idea/

# Optional: coverage reports
coverage/

# Frontend build
/frontend/dist/
