# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# TypeScript
dist/
*.tsbuildinfo

# Prisma
/prisma/migrations/
prisma/.env  # si tu as un .env spécifique Prisma

# Mac OS
.DS_Store

# IDEs
.vscode/
.idea/

# Frontend build
/frontend/dist/
frontend/.vite/  # cache de Vite

# Next.js
.next/
out/
