/* page de contact */
.contact-page {
  display: flex;
  font-family: inherit;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
  padding: 100px 10px 60px 10px;
  box-sizing: border-box;
}

/***************************************************/

/* partie de gauche (texte + infos) */
.contact-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  position: sticky;
  top: 50px;
  max-height: calc(100vh - 50px);
}

/* disponibilité */
.availability-contact {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* titre principal */
.contact-left h1,
.contact-right h2 {
  font-size: 30px;
  color: #ffffff;
  margin: 0;
  filter: brightness(0.9);
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.5), 0 0 6px rgba(255, 255, 255, 0.3);
}

/* paragraphe d'introduction */
.contact-left p {
  font-size: 15px;
  color: rgba(200, 200, 200, 0.7);
  line-height: 1.3;
  margin-top: -8px;
  margin-bottom: 10px;
  max-width: 360px
}

/* div contenant les liens de contact */
.contact-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 14px;
}

.contact-info div {
  display: flex;
  gap: 10px;
}

/* icônes des liens de contact */
.contact-info div img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

/* lien de contacts (mail, téléphone, linkedin) */
.contact-link {
  color: rgba(200, 200, 200, 0.7);
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease;
  font-size: 13px;
}

.contact-link:hover {
  text-decoration: underline;
  color: rgba(200, 200, 200, 0.7);
}

/***************************************************/


/* colonne droite (formulaire) */
.contact-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* titre du formulaire */
.contact-form-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #fff;
}

/* formulaire de contact */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* élement du formulaire */
.contact-form input,
.contact-form textarea {
  padding: 12px;
  font-size: 14px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
  color: #f2f2f2;
}

.contact-form input:focus,
.contact-form textarea:focus {
  background: rgba(255, 255, 255, 0.08);
}

/* div zone de message */
.textarea-wrapper {
  position: relative;
  width: 100%;
}

/* zone de message */
.textarea-wrapper textarea {
  resize: none;
  min-height: 160px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  font-family: inherit;
}

/* compteur de caractères */
.char-counter {
  position: absolute;
  bottom: 6px;
  right: 10px;
  font-size: 12px;
  color: #888;
}

/***************************************************/


/* container des messages */
.error-msg-container,
.success-msg {
  text-align: center;
}

/* div de message visible */
.error-msg-container.show,
.success-msg.show {
  opacity: 1;
  margin-top: -20px;
  max-height: 200px;
}

/* message erreurs et effets */
.error-msg {
  color: #df5f51;
  margin: 0px;
  margin-top: 2px;
  font-size: 13px;
}

.error-input {
  border: 2px solid #df5f51;
}

/* messages de succès */
.success-msg {
  color: #4caf50;
  margin: 0px;
}

.line-between-contact {
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, transparent 0%, rgba(51,51,51,0.8) 20%, rgba(51,51,51,0.8) 80%, transparent 100%);
  margin: 45px 0 45px 0;
}

/***************************************************/


/* responsive tablette */
@media (max-width: 900px) {

  .contact-page {
    flex-direction: column;
    align-items: center;
    padding: 40px 60px 40px;
  }

  .contact-left {
    position: static;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .contact-left,
  .contact-right {
    width: 100%;
    text-align: center;
  }

  .contact-info div {
    justify-content: center;
  }
  
  .animated-submit-btn {
    width: 35%;
  }

  .availability-contact {
    margin-top: 60px;
  }

  .contact-info div {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .contact-left h1,
  .contact-right h2 {
    font-size: 28px;
  }

  .contact-left p,
  .contact-left a,
  .contact-form input,
  .textarea-wrapper textarea {
    font-size: 14px;
  }

  .contact-form {
    margin-top: 25px;
  }

  .line-between-contact {
    margin: 10px 0 0 0;
  }
}

/***************************************************/


/* responsive mobiles */
@media (max-width: 700px) {

  .contact-page {
    padding: 0 10px 35px;
  }

  .contact-left h1,
  .contact-right h2 {
    font-size: 24px;
  }

  .contact-left p,
  .contact-left a,
  .contact-form input,
  .textarea-wrapper textarea {
    font-size: 13px;
  }

  .line-between-intro-projects {
    margin: 10px 0 0 0;
  }
}
