/* conteneur principal */
.projects-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px 60px;
  position: relative;
  text-align: right;
  z-index: 1;
}

/* fond fixe si nécessaire */
.projects-container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/***************************************************/


/* introduction page projects */
.projects-intro h2 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 16px;
  text-shadow: 0 0 4px rgba(255,255,255,0.2), 0 0 6px rgba(255,255,255,0.3);
  margin-top: 45px;
}

.projects-intro p {
  font-size: 15px;
  color: rgba(200,200,200,0.7);
  line-height: 1.3;
  margin-left: auto;
  text-align: right;
}

/* ligne séparatrice entre intro et projets */
.line-between-intro-projects {
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, transparent 0%, rgba(51,51,51,0.8) 20%, rgba(51,51,51,0.8) 80%, transparent 100%);
  margin: 70px 0 70px 0;
}

/* github profil bouton */
.github-profile-card {
  display: flex;
  justify-content: center;
}

/***************************************************/


/* responsive */
@media (max-width: 700px) {

  .projects-container {
    padding: 20px 15px 60px 15px;
    text-align: center;
  }

  .projects-intro h2 {
    font-size: 24px;
    margin-top: 30px;
  }

  .projects-intro p {
    text-align: center;
    font-size: 13px;
  }

  .line-between-intro-projects {
    margin: 45px 0;
  }

  .project-card {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

/***************************************************/


@media (max-width: 500px) {

  .project-card h3 {
    font-size: 18px;
  }
}
