/* pancarte d'un projet */
.project-card {
  margin: 0 auto 40px auto;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: 22px;
  margin-bottom: 40px;
  text-align: left;
  transition: opacity 0.3s ease, transform 0.3s ease;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
  transform: translateY(30px);
}

/* apparition d'un projet */
.project-card.show {
  opacity: 1;
  transform: translateY(0);
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.5);
}

/***************************************************/


/* header avec logo + titre */
.project-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

/* logo du projet */
.project-logo {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 6px;
  flex-shrink: 0;
}

/* titre du projet */
.project-card h3 {
  font-size: 24px;
  color: #f7f7f7;
  margin: 0;
  margin-left: 10px;
}

/* div stack */
.project-tags {
  margin-bottom: 12px;
}

/* tag */
.tag {
  display: inline-block;
  padding: 4px 12px;
  margin: 4px 8px 4px 0;
  font-size: 13px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  color: #b0c4de;
  transition: background-color 0.3s ease;
}

.tag:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* description du projet */
.project-card p {
  font-size: 15px;
  line-height: 1.4;
  text-align: justify;
  color: #eeeeee;
  flex-grow: 1;
  margin: 0;
  margin-bottom: 20px;
}

/* footer bouton */
.project-footer {
  display: flex;
  justify-content: flex-end;
}

/* bouton CODE */
.github-icon-btn {
  padding: 5px 0px 5px 0px;
}
/* icon dans bouton */
.github-icon-btn {
  width: 22px;
  height: 22px;
  margin-right: 6px;
}

/***************************************************/


/* responsive mobile */
@media (max-width: 700px) {

  .project-card {
    text-align: center;
  }

  .project-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 6px;
    margin-bottom: 16px;
  }

  .project-logo {
    width: 60px;
    height: 60px;
  }

  .project-card h3 {
    font-size: 21px;
    margin-left: 0;
  }

  .project-tags {
    text-align: center;
  }

  .project-card p {
    font-size: 13px;
    margin-bottom: 20px;
    text-align: center;
  }

  .project-footer {
    justify-content: center;
  }

  .tag {
    font-size: 12px;
    padding: 3px 10px;
    margin: 3px 6px;
  }
}
