/* pancarte expérience */
.work-card {
  margin: 0 15px;
  padding: 15px 30px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

/* header pancarte */
.work-company-wrapper {
  display: flex;
  justify-content: space-between;
}

/* partie gauche (texte) */
.work-company-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

/* titre du poste */
.work-header h3 {
  font-size: 18px;
  margin-bottom: 0;
}

/* entreprise et lieu de travail */
.work-company {
  margin: 0;
  font-size: 14px;
  opacity: 0.7;
}

/* site web */
.work-site {
  display: inline-block;
  font-size: 15px;
  color: #5ddcff;
  text-decoration: none;
  transition: all 0.2s ease;
}

.work-site:hover {
  text-decoration: underline;
}

/* partie droite (logo) */
.work-logos {
  display: inline-flex;
  gap: 20px;
  margin-top: 15px;
  align-items: flex-start;
}

.work-logos a {
  display: block;
}

.work-logos img {
  display: block;
  height: 28px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.work-logos img:hover {
  opacity: 0.5;
}

/* taches principales */
.work-tasks {
  margin: 14px 0;
  padding-left: 25px;
}

.work-tasks li {
  font-size: 15px;
  line-height: 1.2;
}

/* retour sur expérience */
.work-feedback {
  font-size: 15px;
  line-height: 1.2;
  text-align: justify;
  font-style: italic;
}

.work-tasks-mobile {
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  margin: 10px 0;
}


/***************************************************/


/* responsive mobile */
@media (max-width: 600px) {

  /* logo au dessus du texte */
  .work-company-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    gap: 8px;
  }

  /* centrer le texte */
  .work-company-left {
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
  }

  .work-header h3 {
    margin-top: 14px;
    font-size: 16px;
  }

  .work-company {
    font-size: 13px;
  }

  .work-site,
  .work-tasks li,
  .work-feedback {
    font-size: 14px;
    text-align: center;
  }

  .work-tasks li{
    margin-top: 8px;
  }

  .work-tasks {
    padding-left: 0;
    list-style: none;
  }
}
