/* div principale de l'application */
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: radial-gradient(circle at 30% 20%, #0d0d14 0%, #141420 100%);
  color: #f5f5f5;
  transition: background 0.3s ease;
  background-size: 200% 200%;
  animation: gradientMove 20s ease infinite;
  position: relative;
  overflow: hidden;
}

/* animation du dégradé */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* overlay de points */
.app-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: radial-gradient(rgba(255,255,255,0.12) 1px, transparent 1px);
  background-size: 20px 20px;
  opacity: 0.4;
  z-index: 1;
}

/* contenu principal au-dessus de l’overlay */
.main-content {
  position: relative;
  z-index: 2;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 70px 20px 0px 20px;
  box-sizing: border-box;
  width: 100%;
}

/***************************************************/


/* div pour la transition entre pages */
.page-transition {
  width: 100%;
  max-width: 900px;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

/* fade-in : page visible */
.page-transition.fade-in {
  opacity: 1;
  transform: translateY(0);
}

/* fade-out : page disparaît */
.page-transition.fade-out {
  opacity: 0;
  transform: translateY(10px);
}
